* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    height: 100%;
}

body {
    background: #425ca9;
    font-family: Arial;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.logo {
    width: 500px;
    height: 500px;
    background: linear-gradient(-45deg, #000 10%, #425ca9 90%);
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 10px solid #c9def3;
    text-shadow: 5px 5px 0px #000;
}
.logo .elipse {
    width: 40px;
    height: 353px;
    position: absolute;
    border: 2px dotted #9db7d2;
    border-radius: 50% 100%;
    z-index: 5;
    left: 220px;
    top: 67px;
}
.logo .elipse1 {
    transform: rotate(20deg);
}
.logo .elipse2 {
    transform: rotate(40deg);
}
.logo .elipse3 {
    transform: rotate(60deg);
}
.logo .elipse4 {
    transform: rotate(80deg);
}
.logo .elipse5 {
    transform: rotate(100deg);
}
.logo .elipse6 {
    transform: rotate(120deg);
}
.logo .elipse7 {
    transform: rotate(140deg);
}
.logo .elipse8 {
    transform: rotate(160deg);
}
.logo .elipse9 {
    transform: rotate(180deg);
}

.logo .inner-circle {
    width: 380px;
    height: 380px;
    position: absolute;
    background: #001621;
    border: 10px solid #d2e4fa;
    border-radius: 50%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}
.logo .title {
    font-size: 55px;
    width: 500px;
    z-index: 10;
    position: absolute;
    font-weight: bold;
    color: #fff;
    text-align: center;
    top: 215px;
}
